<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand logo" href="#">
                <img src="../../assets/images/food-discovery-logo.png" width="30px">
            </a> -->
            <p class="branding">FoodDiscovery</p>
        </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        
        <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="#"> Home</a></li>
        </ul> -->
      </div>
    </div>
</nav>
